body, article, button, h1, h2, h3, h4, h5, h6, footer  {
	font-family: "Courier New", monospace;	}

.ulnav {
   
	width: 100%;
    background-color: #102542ff;
	margin-top: 0;
      margin-bottom: 0 !important;
  border: 0 !important;
  }
  
  li {
    float: left;
      list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Nav bar hovers*/  
  
  .home:hover { 
      background-color: white;
      color: #102542ff;
	  cursor: pointer;

  }
  
  .blognav:hover {
    background-color: #FAC60E;
	cursor: pointer;
	/* was #111 */ 
  }
  
  .Sketchingsnav:hover {
    background-color: #8aa29eff; 
	cursor: pointer;
	/* was #111 */ 
  }
  
  .moosicknav:hover {
    background-color: #824c71ff;
	cursor: pointer;
	/* was #111 */ 
  }
  
  .DNFnav:hover {
    background-color: #FAC60E;
	cursor: pointer;
	/* was #111 */ 
  }
  
  
  /* header */
  
  header {
      margin-top: 0; 
	  margin-bottom: 10px;
      text-align: center; 
      padding: 50px;
      background-color: #102542ff;
      color: white;  
	  width: 100%;

      
  } 
  





body{
	margin: 0;
	padding: 0;
	height: 100vh;

}
	h3 {
		padding: 10px; 
		background-color: #8aa29eff; /*violet*/
		color: white; 
		width:500px;
	
    
	}



.bookcontainer {
	display:grid; 
	place-items:center; 
}
   

input{
	display: none;
}
img{
	width: 100%;
	height: 100%;
    border: 5px solid #555}

.book{
	display: flex;
}
#cover{
	width: 500px;
	height: 600px;
  
}
.flip-book{
	width: 500px;
	height: 600px;
	position: relative;
	perspective: 1500px;
    
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}


.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #000;
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
}
#p1{
	z-index: 3;
}
#p2{
	z-index: 2;
}
#p3{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}

/* footer */ 

footer {
	width: 100%;
	color: #fff;
    background-color: #102542ff;
    text-align: center;
    padding: 50px;
      margin-top:20px; 
  }
      
  .footerlist {
    display: inline-block;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  
  }
  
  .footer-item:hover {
        text-decoration: underline;
  }