body { 
    background-color: whitesmoke; 
    margin: 0

}

img {
    inline-size: 100%;
    aspect-ratio: 1 / 1; 
     
}

.container { 
    display: grid;
    place-items: center;
}

.albumgrid { 
    display: grid; 
    gap:2rem;
    align-tracks: center;
    grid-auto-flow: column;
    grid-auto-columns: 22%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    
}

.albumcard { 
   padding: 1rem; 

}

.albumcard:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px -5px rgba(12, 12, 12, 0.2);
  }
  
.albumcard-image img:hover {
    opacity: 0.8;
  }