@import url(//db.onlinewebfonts.com/c/a0cb693c715aaf804e67963c4d0d4d90?family=ModeSeven);

@font-face {font-family: "ModeSeven"; src: url("//db.onlinewebfonts.com/t/a0cb693c715aaf804e67963c4d0d4d90.eot");  }

span, body, article, button, h1, h2, h3, h4, h5, h6, footer, li, td  {
    font-family: "ModeSeven"
}

html {
    background-color: black;
    margin-left: 5%;
    padding-left: 5%;
    max-width: 1400px;
   
    
    
    
}

.ex4 .parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}


p { 
    color:white;
    font-size: 20px;
    
}

.headerul {
color: white;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 30px;
}

.lih { 
    display: block;
    float: left;
  color: white;
  text-align: center;
  padding: 16px;
  margin-right: 10%;
}

.headbox{
    clear: left;
    display: flex;
    flex-wrap: wrap;
}
.headimg1 .headimg2 {
        flex: 50%;
        width: 100%;
    
      }


table {

    border-spacing: 35px;
    padding: 15px;
  }

td {
    color:rgb(0, 225, 255); 
    font-size: 30px;
    white-space: nowrap;
}

#tdno {
        color: white;
        
}

h1 { 
    color: white;
}

.headline { 
    border-style: solid;
    border-bottom-color: rgb(47, 255, 47); 

}





.mainContent { 
    display: flex;
}

.indexContentleft, .indexContentright {
    display: inline-block; 
  
  
} 



h4 {
    color: rgb(47, 255, 47);
    font-size: 25px;
}

.ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }



  

  .footerp {
    color: rgb(47, 255, 47);
    background-color: blue;
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 1400px;
 
  }

  .footerlist {
    color: white;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 30px;


  }

  .lif {
    display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 11%;

    
  }