@import url(//db.onlinewebfonts.com/c/a0cb693c715aaf804e67963c4d0d4d90?family=ModeSeven);

@font-face {font-family: "ModeSeven"; src: url("https://db.onlinewebfonts.com/t/a0cb693c715aaf804e67963c4d0d4d90.eot");  }

span, body, article, button, h1, h2, h3, h4, h5, h6, footer, li, td, th  {
    font-family: "ModeSeven"
}

html {
    background-color: black;
    margin-left: 5%;
    padding-left: 5%;
    max-width: 1400px;
}

/* count */ 
@property --num {
  syntax: "<integer>";
  initial-value: 101;
  inherits: false;
}

#count {
  transition: --num 5s;
  counter-set: num var(--num);
 
}
#count::after {
  content: counter(num);
}
#count:hover {
  --num: 401;
}


/* Link Styling */ 

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 225, 255);
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color:rgb(0, 225, 255);
  text-decoration: underline;
}
    
.ex4 .parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}


p { 
    color:white;
    font-size: 20px;
    
}

.headerul {
color: white;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 30px;
}

.lih { 
    display: block;
    float: left;
  color: white;
  text-align: center;
  padding: 16px;
  margin-right: 10%;
}

.headbox{
    clear: left;
    display: flex;
    flex-wrap: wrap;
}
.headimg1 .headimg2 {
        flex: 50%;
        width: 100%;
    
      }


table {

    border-spacing: 35px;
    padding: 15px;
  }

td, th {
    
}

#tdno {
        color: white;
        
}

h1 { 
    color: white;
}

h2 {
  color:rgb(47, 255, 47)
}


.headline { 
    border-style: solid;
    border-bottom-color: rgb(47, 255, 47); 

}





.mainContent { 
    display: flex;
}

.indexContentleft, .indexContentright {
    display: inline-block; 
    color:rgb(0, 225, 255); 
    font-size: 30px;
    white-space: nowrap;
  
  
} 



h4 {
    color: rgb(47, 255, 47);
    font-size: 25px;
}

.ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }



  

  .footerp {
    color: rgb(47, 255, 47);
    background-color: blue;
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 1400px;
 
  }

  .footerlist {
    color: white;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 30px;


  }

  .lif {
    display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 11%;

    
  }



/* Group Pages CSS */ 

.title{

  display: inline-block
}
.flag  {
      height: 150px;
      width: 300px; 
      padding: 2px;
      padding-bottom: 20px;
    }


.title {
  font-size: 32px;
  border-style: solid;
    border-bottom-color: rgb(47, 255, 47); 


}

.mainContent {
  display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto; 

}


.standings {
grid-column: 2;


}

.groupTable th {
  color: rgb(47, 255, 47);
}

.groupTable tr {
  font-size: 40px; 
  color: rgb(0, 225, 255);
  white-space: nowrap;
 }

 .groupTable tr:nth-child(even) {      
  color: white;
}

.matchReports {
  grid-column: 1;
  padding: 2%;
  font-size: 22px;

}

.mrlists {
  
  font-size: 32px;
  
}

.mr {
  color: white;
  font-size: 38px;
  list-style: none;
  white-space: nowrap;
  
 
}




  /* Match report CSS */ 2
  .pgreen {
    color:rgb(47, 255, 47);
    font-size: 36px;
  }

  .pwhite {
    font-size: 36px;
  }

  .pblue {
    color: rgb(0, 225, 255);
    font-size: 36px;
  }


  /* Knockout bracket */ 
  .knockout { 
    max-width: fit-content;
  }

  .bracketparent {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    place-items: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 225, 255);
    padding: 5%;
    
  }

  .r16-1 { 
    grid-row: 1;
    grid-column: 1 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    padding: 5%;
    border-radius: 5%;
  }

  .r16-2 {
    grid-row: 3;
    grid-column: 1 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .r16-3 {
    grid-row: 5;
    grid-column: 1 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .r16-4 {
    grid-row: 7;
    grid-column: 1 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }


  .r16-5 {
    grid-row: 1;
    grid-column: 14 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .r16-6 {
    grid-row: 3;
    grid-column: 14 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .r16-7 {
    grid-row: 5;
    grid-column: 14 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .r16-8 {
    grid-row: 7;
    grid-column: 14 / span 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .q1 {
    grid-column: 3 / span 3;
    grid-row: 2;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;
  }

  .q2 {
    grid-column: 3 / span 3;
    grid-row: 6;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .q3 {
    grid-column: 10 / span 3;
    grid-row: 2;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .q4 {
    grid-column: 10 / span 3;
    grid-row: 6;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .s1 {
    grid-column: 6 / span 3;
    grid-row: 4 ;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .s2 {
    grid-column: 6 / span 3;
    grid-row: 4;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    padding: 5%;

  }

  .final {
    grid-column: 6 / span 3;
    grid-row: 3;
    border-style: solid;
    border-color: rgb(47, 255, 47);
    border-radius: 5%;
    margin-right: 115px;
    padding: 5%;
    

  }